@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@200&family=Heebo:wght@100&family=Kanit:wght@600&family=Montserrat&family=Prompt:ital,wght@0,200;1,300&family=Source+Sans+Pro:ital,wght@0,300;1,300&family=Square+Peg&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --preto: #000; 
    --dark: rgb(44, 43, 43);
    --darklight: rgb(83, 82, 82);
    --branco: #fff;
    --laranja: #ff7a00;
    --verde: #003e47;
}

body{
    color: var(--branco);
}

main .container-filter{
    margin: 20px;
}



main .container-filter #car{
    padding: 2px;
    width: 200px;
    height: 2rem;
    border-radius: 6px;
    border: 1px solid var(--dark);
    background-color: var(--preto);
    color: var(--laranja);
    text-align: center;
}

main .container-filter #car:hover,
main .container-filter #car:focus{
    background-color: var(--verde);
    border: 1px solid var(--branco);
    transition: all 0.5s ease-in;
}

main .container-filter #btn-car{
    background-color: var(--preto);
    border: 1px solid var(--laranja);
    border-radius: 5px;
    color: var(--branco);
    width: 100px;
    height: 30px;
    transition: all 0.5s;
    margin-top: 20px;
    margin: 10px;
}

main .container-filter #btn-car:hover,
main .container-filter #btn-car:focus{
    background-color: var(--verde);
    border: 1px solid var(--branco);
    transition: all 0.5s ease-in;
}

main .container-imageCar{
    text-align: left;
    margin: 20px;
}

main .container-imageCar img{
    box-shadow: -0.5px -0.9px 5px 1px var(--dark);
}

main.container-imageCar, 
main .container-imageCar img{
    border-radius: 20px;  
    width: 15vw;
    height: 30vh;
}

main .container-box{
    display: block;
}

main .box-1,
main .box-2,
main .box-3{
    margin: 20px;
    width: 15vw;
    height: 10vh;   
    border-radius: 20px;
    background-color: var(--preto);
    box-shadow: -0.5px -0.9px 5px 1px var(--dark);
    display: flex;    
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

main .box-1 .icon i,
main .box-2 .icon i,
main .box-3 .icon i{
    font-size: 2rem;
    border-radius: 50px;
    color: var(--darklight);   
}

main .box-1 .values,
main .box-2 .values,
main .box-3 .values{
    color: var(--laranja);
    font-size: 1.2rem;
    font-weight: bold;
}

main .box-1 .info,
main .box-2 .info,
main .box-3 .info{
    color: var(--darklight);
    font-size: 1.2rem;
    font-weight: bold;
}


/*
*********** MOBILE ***************
*/
 @media (max-width: 400px){

    main .container-filter #car{
        width: 150px;
      }

    main .container-box{
        display: inline-block;
    }  

    main.container-imageCar, 
    main .container-imageCar img{
    width: 90vw;
    height: 35vh;
    text-align: center;
}

    main .box-1,
    main .box-2,
    main .box-3{
        margin: 20px;
        width: 90vw;
        height: 8vh;   
    }

 }