<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')  %>
    <body>
       <%- include('./partials/header')  %> 
        <main>
            <section id="section-principal">
                <img class="desktop" src="/image/mercedes.jpg" alt="Carro branco da Mercedes">
                <img class="desktop" src="/image/bmw.jpg" alt="Carro com farol ligado - modelo BMW ">
                <img class="desktop" src="/image/audi_mais_natureza.jpg" alt="Carro preto com o farol ligado na estrada - modelo audi A3 ">
                <img class="mobile" src="/image/carro.png" alt="Carro com farol ligado - modelo audi A3 ">
                <h2>Gerenciamento de manutenções</h2>
            </section>
            <section id="section-secundaria">
                <div>
                    <span><i class="fa-solid fa-square-plus"></i>Comodidade</span>
                </div>
                <div>
                    <span><i class="fa-solid fa-square-plus"></i>Agilidade</span>
                </div>
                <div>
                    <span><i class="fa-solid fa-square-plus"></i>Segurança</span>
                </div>
                <div>
                    <span><i class="fa-solid fa-square-plus"></i>Controle</span>
                </div>
            </section>
        </main>
        <%- include('./partials/footer')  %>
    </body>
</html>