<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')  %>
    <body>
        <%- include('./partials/header')  %>
        <main>
            <section class="section-dados">
                <img src="<%= picture %>" alt="foto do usuário cadastrado">
                <p>
                    <label for="profissao">Júlio Henrique</label>
                    <input type="text" name="profissao" id="profissao" value="Dev Full Stack" disabled>
                </p>
            </section>
            <section class="section-form">
                <input type="email" name="email" id="email" value="julio@gmail.com" disabled>
            </section>           
            <section class="section-grafico-oficina">
                <P>Oficinas Favoritas</P>
                <img alt="Gmapa das oficinas favoritas" src="/image/grafico_oficinas.png">
            </section>  
            <section class="section-grafico-manutencao">
                <P>Dashboard de manutenções</P>
                <img src="/image/dash manutencoes.png" alt="Grafico de manutenções">
            </section>        
        </main>
        <%- include('./partials/footer')  %>
    </body>
</html>