<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')  %>
    <body>
        <%- include('./partials/header')  %>
        <main>
            <section class="section-foto">
                <img src="<%= picture %>" alt="Foto do notebook">
                <h3>Criar perfil</h3>
            </section>
            <section class="section-principal">
                <form action="/auth/register" method="post" enctype="multipart/form-data">
                    <div>
                        <label for="name">Nome: </label>
                        <input type="text" name="name" id="name" placeholder="Nome">
                    </div>
                    <div>
                        <label for="email">Email: </label>
                        <input type="email" name="email" id="email" placeholder="Email">
                    </div>
                    <div class="short-input">
                        <label for="cpf">CPF: </label>
                        <input type="text" name="cpf" id="cpf" placeholder="CPF">
                    </div>
                    <div class = "short-input">
                        <label for="birthday">Nasc: </label>
                        <input type="text" onfocus="(this.type='date')" name="birthday" id="birthday" placeholder="Data de Nascimento">
                    </div>
                    <div class="short-input">
                        <label for="cep">CEP: </label>
                        <input type="text" name="cep" id="cep" placeholder="CEP">
                    </div>
                    <div class="short-input">
                        <label for="cel">Cel: </label>
                        <input type="tel" name="cel" id="cel" placeholder="Cel">
                    </div>
                    <div>
                        <label for="address">Endereço: </label>
                        <input type="text" name="address" id="address" placeholder="Endereço">
                    </div>
                    <div>
                        <label for="user">Usuário: </label>
                        <input type="tel" name="user" id="user" placeholder="Usuário">
                    </div>    
                    <div>
                        <label for="password">Senha: </label>
                        <input type="password" name="password" id="password" placeholder="Senha">
                    </div>    
                    <div>
                        <label class="custom-file-upload" for="file">
                            <input type="file" id="file">
                            <i class="fa-solid fa-arrow-up-from-bracket"></i>
                            foto perfil
                        </label>
                    </div>
                    <div>
                        <button type="submit" id="btn-cadastrar">Cadastrar</button>
                        <button type="reset" id="btn-limpar">limpar</button>
                    </div>        
                </form>
            </section>
        </main>
        <%- include('./partials/footer')  %>
    </body>
</html>