
<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
    <body>
        <%- include('./partials/header')  %> 
        <main>
            <section id="section-img">
                <img class="mobile" src="<%= picture %> " alt="Imagem - Pessoa apontando o dedo para a tela do notebbok">
            </section>
            <h2>Localizar oficina</h2>
            <section id="section-map">
                <iframe id="iframe-map" src="https://www.google.com/maps/embed?pb=!4v1655475324934!6m8!1m7!1sauX7hC_dMDT4OaMu9eHvsw!2m2!1d-23.53975018144692!2d-46.7301905095871!3f227.686755511606!4f-17.682227294398544!5f0.7820865974627469" width="380" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </section>
            <section id="section-form">
                <form action="/home/search" method="post">
                    <p> 
                        <label for="zip-code"><i class="fa-solid fa-magnifying-glass"></i></label>
                        <input type="number" name="zip-code" id="zip-code" placeholder="CEP">
                    </p>
                    <p>
                        <label for="address"><i class="fa-solid fa-location-dot"></i></label>
                        <input type="text" name="address" id="address" placeholder="Endereço">
                    </p>
                    <p>
                        <button type="submit" id="btn-search">Buscar</button>
                    </p>
                </form>
            </section>
        </main>
        <%- include('./partials/footer') %> 
    </body>
</html>