<footer>
    <nav id="nav-footer">
        <ul>
            <li>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </i>
            <li>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
            </li>
        </ul>
    </nav>
</footer>

