<header>
    <div class="bar">
        <label for="menu"><i class="fa-solid fa-bars"></i></label>
        <input type="checkbox" id="menu">
        <nav id="nav-menu">
            <ul>
                <li id="home">
                    <a href="/home"><i class="fa-solid fa-house"></i>Home</a>
                </li>
                <li id="login">
                    <a href="/auth/login"><i class="fa-solid fa-lock"></i>Login</a>
                </li>
                <li id="register">
                    <a href="/auth/register"><i class="fa-solid fa-address-card"></i>Cadastrar</a>
                </li>
                <li id="search">
                    <a href="/buscar"><i class="fa-solid fa-magnifying-glass"></i>Buscar Oficina</a>
                </li>
                <li id="dashboard">
                    <a href="/user/dashboard"><i class="fa-solid fa-chart-line"></i>Filas</a>
                </li>
                <li id="profile">
                    <a href="/user/profile"><i class="fa-solid fa-user"></i>Perfil</a>
                </li>
            </ul>
        </nav>
    </div>
    <img id="logo" src="/image/logo_fundo_transparente.png" alt="Logo da empresa dev solution - Homem mexendo no carro">
</header>